In [ ]:
# -*- coding: utf-8 -*-
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Pandas = Panel Data
Pandas documentation: https://pandas.pydata.org/pandas-docs/version/0.17.0/10min.html

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Series

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

### DataFrame

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

### Creating a DataFrame by passing a dict of objects

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

# Viewing data

In [ ]:
df2.dtypes

In [ ]:
df.head()

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
df.index

# Transposing data

In [ ]:
df.T

# Data selection

**One column = Series**

In [ ]:
print(type(df['A']))
df['A']

**Slicing**

In [ ]:
df[0:3]

**Selection by label**

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,['A','B']]

**Selection by Position**

In [ ]:
df.iloc[1,1]

In [ ]:
df.iloc[3:5,0:2]

**Boolean Indexing**

In [ ]:
df[df.A > 0]

In [ ]:
df[df > 0]

**Setting values by label**

In [ ]:
df.at[dates[0],'A'] = 0
df

# Missing Data

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1
df1

In [ ]:
df1.dropna(how='any')

In [ ]:
df1.fillna(value=5)

**Boolean mask where values are NaN**

In [ ]:
pd.isnull(df1)

# Operations

In [ ]:
df.mean()

In [ ]:
df.mean(axis=0)
# df.mean(axis=1)

### Applying functions to the data

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

# Merging data

## Concat

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
pd.concat(pieces)

## Join

In [ ]:
left = pd.DataFrame({'key': ['k1', 'k2'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['k1', 'k2'], 'rval': [3, 4]})
right

In [ ]:
pd.merge(left, right, on='key')

## Append

DataFrame.append() & Series.append() is being deprecated,

use .concat() -- https://pandas.pydata.org/docs/whatsnew/v1.4.0.html#whatsnew-140-deprecations-frame-series-append

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

In [ ]:
s = df.iloc[3]
s

In [ ]:
df.append(s, ignore_index=True)

## Grouping

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A','B']).sum()

## Reshaping

### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

In [ ]:
df2 = df[:4]
df2

In [ ]:
stacked = df2.stack()
stacked

**With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is unstack(), which by default unstacks the last level:**

In [ ]:
stacked.unstack()

### Pivot Tables

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

# Time Series

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
rng

In [ ]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

In [ ]:
ts.resample('5Min').sum()

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

# Categoricals

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"]

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad",]
df["grade"]

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

# Plotting

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts

In [ ]:
ts = ts.cumsum()
ts

In [ ]:
ts.plot()

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df

In [ ]:
df = df.cumsum()
df

In [ ]:
plt.figure() 
df.plot() 
plt.legend(loc='best')

# 100-pandas-puzzles

**https://github.com/FIIT-IAU/100-pandas-puzzles** (forked from https://github.com/ajcr/100-pandas-puzzles)